.post#post-1
	= render(:partial => "shared/my_blog_link", :locals => {text:@text, date:'февраля 28, 2010'})
	.floater
		%h1
			%a Привет, мир and YOU!
			.descr февраля 28, 2010
	.entry
		%h1 Текст, который будет набран Вами и опубликован.
		%h2 Заголовок 2
		%h3 Заголовок 3
		%h4 Заголовок 4
		%h5 Заголовок 5
		%h6 Заголовок 6
		%p 
			%br/
			Цитаты
			%br/
			Разумеется, у меня есть некоторые странные привычки. Но все эти социально-адаптированные люди только и ждут возможности взять молоток и публично расколошматить свою еду на части. Обычные люди так враждебны.
			Cписки:
		%p 
			Как много дел считались невозможными, пока они не были осуществлены.
			%br/
			Лидеры обладают способностью находить элегантные, простые решения сложных проблем.
			Правильно определяйте свои приоритеты.
			%br/
			Если мы не можем [...]
		%p.akpc_pop 
			Popularity: 100% 
			%span.akpc_help
				%a ?
	%p.info 
		Опубликовано в 
		%a Новости
%p{:align => "center"}
