<div class="logo">		<a href="http://xtemplate.ru/wordpresslive">Xtemplate.ru</a></div>
<div class="top">
				
	<div class="header">

		<div class="left">
	
		</div>
		
	</div>	

</div>

<div class="container">	

	<div class="navigation">
		<a href="http://xtemplate.ru/wordpresslive/">Главная</a>

	<li class="page_item page-item-2"><a href="http://xtemplate.ru/wordpresslive/?page_id=2" title="О сайте">О сайте</a> 

		<div class="clearer"><span></span></div>
	</div>


	<div class="main">		
		
		<div class="content">
	
						<div class="post" id="post-1">
<div class="floater">
				<h1><a href="http://xtemplate.ru/wordpresslive/?p=1" rel="bookmark" title="Привет, мир!">Привет, мир!</a></h1>
					
				<div class="descr">февраля 28, 2010</div>
				</div>

				<div class="entry">

					<h1>Текст, который будет набран Вами и опубликован.</h1> 
<h2>Заголовок 2</h2> 
<h3>Заголовок 3</h3> 
<h4>Заголовок  4</h4> 
<h5>Заголовок 5</h5> 
<h6>Заголовок 6</h6> 
<p>Цитаты:<br /> 
Разумеется, у меня есть некоторые странные привычки. Но все эти социально–адаптированные люди только и ждут возможности взять молоток и публично расколошматить свою еду на части. Обычные люди так враждебны.<br /> 
Списки:</p> 
<p>Как много дел считались невозможными, пока они не были осуществлены.<br /> 
Лидеры обладают способностью находить элегантные, простые решения сложных проблем.<br /> 
Правильно определяйте свои приоритеты.<br /> 
Если мы не можем [...]</p> 
<script type="text/javascript">AKPC_IDS += "1,";</script><p class="akpc_pop">Popularity: 100% <span class="akpc_help">[<a href="http://alexking.org/projects/wordpress/popularity-contest" title="What does this mean?">?</a>]</span></p>
				</div>

				<p class="info">Опубликовано в <a href="http://xtemplate.ru/wordpresslive/?cat=1" title="Просмотреть все записи в рубрике &laquo;Новости&raquo;" rel="category">Новости</a> |  <a href="http://xtemplate.ru/wordpresslive/?p=1#comments" title="Комментарий к записи Привет, мир!">1 комментарий &raquo;</a></p>

			</div>

			
		
			<p align="center"> </p>

				</div>

			<div class="sidenav" id="sidebar">

		
		
			<h2>Категории</h2>

			<ul>
			
					<li class="cat-item cat-item-1"><a href="http://xtemplate.ru/wordpresslive/?cat=1" title="Просмотреть все записи в рубрике &laquo;Новости&raquo;">Новости</a> 
</li> 

			</ul>

			<h2>Архив</h2>

			<ul>
					<li><a href='http://xtemplate.ru/wordpresslive/?m=201002' title='Февраль 2010'>Февраль 2010</a></li> 
			</ul>

			<h2>Блоги</h2>

			<ul>
							</ul>

			<h2>Поиск</h2>

			<ul>

				<li>

				<form method="get" id="searchform" action="/wordpresslive/index.php">

					<input type="text" value="" name="s" id="s" size="17" /> <input type="submit" id="sidebarsubmit" value="Поиск" style="font-size: 10px;" />

				</form>

				</li> 

			</ul>			
			
			<h2>Мета</h2>
			<ul>
<li><a href=http://wptheme.ru/>Темы WordPress</a></li>
<li><a href="http://xtemplate.ru/wordpresslive/?feed=rss2" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
<li><a href="http://xtemplate.ru/wordpresslive/?feed=comments-rss2" title="The latest comments на all posts in RSS"><abbr title="Really Simple Syndication">RSS</abbr> комментариев</a></li>

				
			</ul>		
			
			
		</div>
			
			<div class="clearer"><span></span></div>

	</div>

	<div class="footer">
		
		<font size="1" face="calibri">
Локализация:&nbsp; XTemplate.ru: <a href="http://xtemplate.ru/" title="Шаблоны и темы для WordPress от XTemplate.ru" style="color: gray;">шаблоны для wordpress</a>.&nbsp;|
SeOne.ru: <a href="http://www.seone.ru/raskrutka-sajtov/" title="Продвижение интернет сайта от Сеон" style="color: gray;">продвижение сайта</a>,&nbsp;</font>

		
		<div class="clearer"><span></span></div>

	</div>

</div>
